.carousel-container {
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 16rem; /* 64px * 4 = 16rem */
  margin: 0 1rem; /* 4px * 4 = 1rem */
  transition: transform 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.gradient-left,
.gradient-right {
  display: none;
}

@media (min-width: 768px) {
  .gradient-left,
  .gradient-right {
    display: block;
  }
}

.carousel-dragging {
  cursor: grab;
}
